<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinCrime Investigation Solution</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" type="text/css" href="CSS_1.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="AML.png" alt="AML Logo">
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="#services">Services</a></li>
          <li><a href="#alerts">Alerts</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="alerts">
      <div class="container">
        <h3>Suspicious Alerts Detail</h3>
        <h4>Alert ID -: TM-DEPOSIT-101 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp;  Assigned To : James Cameroon (Senior Compliance Officer - Manager)</h4>
        <table>
         
          <tbody>
            <tr>
              <td class="shrink">Alert ID :</td> <td class="shrink">TM-DEPOSIT-101</td>
              <td class="shrink">Alert Date : </td> <td class="shrink">12-23-2024</td>
            
           </tr>

            <tr>
              <td class="shrink">Create Date :</td> <td class="shrink">12-22-2024</td>
              <td class="shrink">Status</td> <td class="shrink">Under Investigation</td>
            
           </tr>
            <tr>
              <td class="shrink">Transaction Amount:</td> <td class="shrink">$130450.00</td>
              <td class="shrink">Transaction Location:</td> <td class="shrink">Cupertino,CA, United States</td>
            
           </tr>
            <tr>
              <td class="shrink">Transaction Type</td> <td class="shrink">Cash Deposit</td>
            
           </tr>
            <tr>
              <td class="shrink">Account Number :</td> <td class="shrink">100203056789</td>
              <td class="shrink">Customer Name :</td> <td class="shrink">Mr. Mike Michery</td>
           </tr>
            <tr>
              <td class="shrink">Account Type :</td> <td class="shrink">Brokerage</td>
              <td class="shrink">Customer DOB :</td> <td class="shrink">01-01-1967</td>
           </tr>
            <tr>
              <td class="shrink">Account Opening Date :</td> <td class="shrink">01-22-2022</td>
              <td class="shrink">Account Branch Details :</td> <td class="shrink">Columbus, OH, United States</td>
           </tr>
        	<tr>
             
              <td class="shrink">AML Rule Details :</td> <td class="shrink">Cash More than 10,000.00 INR</td>
           </tr>
            <tr>
              <td class="shrink">Investigation Narrative :</td> <td><textarea id="w3review" name="w3review" rows="4" cols="50">This Customer is black listed in Iran. and need to report to FBI, New York, USA</textarea></td>
           </tr>
        </table>
        <a href="AlertListsPage.html">Back to Alert List Page </a> <br>
          <a href="homepage.html">Back to FIS Home Page </a>
        
        
        <!--this is just sample for table CSS -->
       <!-- <table>
    		<tr>
       			 <td class="shrink">element1</td>
       			 <td class="shrink">data</td>
      			  <td class="shrink">junk here</td>
      			  <td class="expand">last column</td>
   	 		</tr>
   			 <tr>
       			 	<td class="shrink">elem</td>
        			<td class="shrink">more data</td>
      			  	<td class="shrink">other stuff</td>
     		   		<td class="expand">again, last column</td>
   	 		</tr>	
   		 	<tr>
        			<td class="shrink">more</td>
        			<td class="shrink">of </td>
        			<td class="shrink">these</td>
        			<td class="expand">rows</td>
    		</tr>
		</table> -->
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 An AML Solution By - S2H4 Consulting Group. All rights reserved. | Privacy Policy | Terms of Service</p>
    </div>
  </footer>
</body>
</html>