<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinCrime Investigation Solution</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" type="text/css" href="CSS_1.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="AML.png" alt="AML Logo">
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="#services">Services</a></li>
          <li><a href="#alerts">Alerts</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="alerts">
      <div class="container">
        <h3>Suspicious Alerts List</h3>
        <table>
          <thead>
            <tr>
              <th>Alert ID</th>
              <th>Alert Date</th>
              <th>Alert Type</th>
              <th>Status</th>
              <th>Narrative</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
			<tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>
            <tr>
              <td class="shrink"><a href="AlertDetailPage.html" target="_blank">TM-DEPOSIT-101</a></td>
              <td class="shrink">2023-07-13</td>
              <td class="shrink">Suspicious Transaction</td>
              <td>Pending</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            </tr>          
            
          </tbody>
        </table>
  <a href="homepage.html">Back to FIS Home Page </a>        
        <!--this is just sample for table CSS -->
       <!-- <table>
    		<tr>
       			 <td class="shrink">element1</td>
       			 <td class="shrink">data</td>
      			  <td class="shrink">junk here</td>
      			  <td class="expand">last column</td>
   	 		</tr>
   			 <tr>
       			 	<td class="shrink">elem</td>
        			<td class="shrink">more data</td>
      			  	<td class="shrink">other stuff</td>
     		   		<td class="expand">again, last column</td>
   	 		</tr>	
   		 	<tr>
        			<td class="shrink">more</td>
        			<td class="shrink">of </td>
        			<td class="shrink">these</td>
        			<td class="expand">rows</td>
    		</tr>
		</table> -->
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 An AML Solution By - S2H4 Consulting Group. All rights reserved. | Privacy Policy | Terms of Service</p>
    </div>
  </footer>
</body>
</html>